.sui-input {
  border-radius: 6px;
  border: 1px solid #3f2f2f;
  height: 45px;
  padding-left: 10px;
}

.sui-input:focus-visible {
  outline: none;
  border: 1px solid #ff9090;
}

.sui-input-light {
  background: white;
  color: #3f2f2f;
}

.sui-input-dark {
  background: #3f2f2f;
  color: #ff9090;
}

.sui-input-small {
  width: 25%;
}

.sui-input-medium {
  width: 50%;
}

.sui-input-large {
  width: 90%;
}
