.sui-button {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 700;
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.sui-button--primary {
  color: white;
  background-color: #ff9090;
  border: 1px solid #ff9090;
}
.sui-button--primary:hover {
  background-color: #fca9a9;
  border: 1px solid #fca9a9;
}

.sui-button--secondary {
  color: #3f2f2f;
  background-color: transparent;
  border: 1px solid #3f2f2f;
}
.sui-button--secondary:hover {
  border: 1px solid #ff9090;
  color: #ff9090;
}

.sui-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.sui-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.sui-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
