.sui-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sui-wrapper-large {
  width: 100vw;
  height: 100vh;
}

.sui-wrapper-light {
  background: white;
}

.sui-wrapper-dark {
  background: black;
}
