.sui-card {
  width: 50%;
  height: 75%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  border: 1px solid seagreen;
  border-radius: 8px;
  box-shadow: 10px 5px 20px 2px;
}

.sui-card:hover {
  transform: scale(1.1);
}

.sui-card-header-container {
  display: flex;
  justify-content: center;
  border: 1px solid red;
  width: 100%;
  height: 25%;
  padding: 5px;
}

.sui-card-body-container {
  display: flex;
  justify-content: center;
  border: 1px solid rebeccapurple;
  margin: 5px 0;
  height: 50%;
  width: 100%;
  padding: 5px;
}

.sui-card-footer-container {
  display: flex;
  justify-content: center;
  border: 1px solid orange;
  width: 100%;
  height: 25%;
  padding: 5px;
}
